.filters{
    background-color: #ffffff;
    height: 70px;
    width: 100%;
    border: 1px solid #dddddd;
    border-radius: 4px;
}

.filters button{
    font-size: 18px;
    background-color: #ff5a5f;
    color: #ffffff;
    height: 48px;
    line-height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    text-align: center;
    float: right;
    margin: 11px 30px;    
}

.filters button:hover {
    opacity: .9;
    transition: .5s;
} 