.filters{
    background-color: #ffffff;
    height: 70px;
    width: 100%;
    border: 1px solid #dddddd;
    border-radius: 4px;
    position: relative;
}

.filters button{
    font-size: 18px;
    background-color: #ff5a5f;
    color: #ffffff;
    height: 48px;
    line-height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    text-align: center;
    margin: 11px 30px;    
    display: inline-block;
    float: right;
}

.filters button:hover {
    opacity: .9;
}


.filters .locations{
    height: 100%;
    width: 25%;
    margin: 0;
    vertical-align: top;
    display: inline-block;
    border-right: 1px solid #dddddd;
}

.filters .amenities{
    height: 100%;
    width: 25%;
    margin: 0;
    margin-left: -5px;
    vertical-align: top;
    display: inline-block;
}

.locations h3, .amenities h3{
    font-weight: 600;
    line-height: 1;
    padding-left: 50px;
}

.locations h4, .amenities h4{
    font-weight: 400;
    font-size: 14px;
    margin-top: -9px;
    padding-left: 50px;
}

.locations h2{
    font-size: 16px;
}

.popover{
    background-color: #fafafa;
    width: 100%;
    border: 1px solid #dddddd;
    border-radius: 4px;
    display: none;
    margin-top: -5px;
    padding: 20px 0px;
    z-index: 1;
    position: relative;
}

.popover ul{
    list-style-type: none;
    padding-left: 50px;
}

.locations .popover ul{
    margin-left: -25px;
}

.popover li{
    margin-top: -5px;
    margin-bottom: 15px;
}

.locations:hover .popover{
    display: block;
}

.amenities:hover .popover{
    display: block;
}